.dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    background: var(--color-black);
    border: 0.125rem solid var(--color-white);
}

@media screen and (max-width: 450px) {
    .dialog {
        width: 300px;
    }
}

.dialog_header {
    display: flex;
    justify-content: right;
}

.dialog_close_btn::before {
    padding-right: 1rem;
    font-size: 2.2rem;
    font-weight: 600;
    content: "\00D7";
    cursor: pointer;
    color: var(--color-white);
}

.dialog_content {
    padding: 0 2rem 2rem;
}
